.merken__img{
    width: 10vw;
    margin-right: 5%;
    margin-bottom: 3%;
}

.center{
    width: 100%;
    text-align: center;
    margin-bottom: 10vh;
}

.opties{ 
    display: inline-block;
    width: 100%;
    background-color: #323232;
    margin: 2.5vh 0vh 2.5vh 0vh;
    border:1rem;
    border-radius:1rem;
}
.cat {    
    margin-left: 0%;
}
.opties p{    
    color: white;
}
.row__img {
    width: 80%;
    margin-top: 7%;
}
.row1{    
    height: 50%;
}
.row1 .colum{    
    width: 33%;
    height: 100%;
    float: left;
}

.row2{    
    height: 50%;
}
.row2 .colum{    
    width: 33%;
    height: 100%;
    float: left;
}
.row1 .colum:hover, .row2 .colum:hover{    
    opacity: 0.5;
}


.next {
    background-color: #323232;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border:1rem;
    border-radius:2rem;
}
.current {
    background-color: #ddd;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border:1rem;
    border-radius:2rem;
}


.info{
    text-align: center;
    padding-bottom: 10vh;
    width: 100%;
    margin: auto;
}
.info li{
    list-style: none;
}
.info h2{
  padding-top: 2vh;
}
.Onderhoud{
  width: 50%;
  float: left;
}
#__img{
  width: 25%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.Bike__assistance{
  width: 50%;
  float: right;
}
.Montage {
    width: 45%;
    float: left;
}
.Herstellingen {
    width: 45%;
    margin-left: 5%;
    padding-bottom: 2vh;
    float: right;
}
.visible__mobile{
    display: none;
}

/* mobile*/
@media screen and (max-width: 1079px){
    
    /* Fietsen*/
    .next {
        margin: 0vh 0vh 2vh 0;
    }
    .current {
        margin: 0vh 0vh 2vh 0;
    }
    .row1 .colum{    
        width: 50%;
    }
    .row2 .colum{    
        width: 50%;
    }
    .row3 .colum{    
        width: 50%;
    }


    .merken__img{
        width: 50vw;
    }
    .visible__mobile{
        display: block;
        margin: auto;
    }
    .invisible__mobile{
        display: none;
    }
    .Onderhoud{
      width: 100%;
      float: left;
    }
    #__img{
        float: none;
      width: 80%;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
    .Bike__assistance{
      width: 100%;
      float: right;
    }
    .Montage {
        width: 100%;
        float: left;
    }
    .Herstellingen {
        width: 100%;
        margin-left: 5%;
        padding-bottom: 2vh;
        float: right;
    }
    .center__mobile{
        text-align: center;
    }
    
  }
  /* mobile*/