.slideshow{
    text-align: center;
}

.display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}
.display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}
.black {
    color: #fff!important;
    background-color: #000!important;
}
.button {
    border: none;
    display: inline-block;
    padding: 40px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.mySlides{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 55vh;
    max-width: auto;
}

/* Optie 2*/
.gal {
    width: 110%;
    height: 40vh;
}
#gal_9 .galleryItem {
    float: left;
    height: 25vh;
    padding: 0% 2.5% 0% 2.5%;
}
.galleryItem a img {
    height: 80%;
}
div#gal_9 a.navgal_9 {
    color: #FEFEFE;
    text-decoration: none;
}
div#gal_9 a:hover.navgal_9 {
    color: #FEFEFE;
    text-decoration: underline;
}
div#gal_9 a.current {
    color: #FEFEFE;
    text-decoration: underline;
}

/* mobile*/
@media screen and (max-width: 1079px){
    .mySlides{
        width: 90%;
        height: auto;
    }

    /* Optie 2*/
    .gal {
        width: auto;
    }
 }
 /* mobile*/