html,body{
  background-color: #323232;
}

footer {
  background-color: black;
}
.logo {     
  min-height: 5rem;  
  margin-top: 1rem;
  margin-bottom: -3rem;
  width: 50vw;
  box-shadow:none !important;
  margin-left: 25%;
}
.s3{
  width: 35%;
  float: right;
}
main{
  padding-top: 3rem;
}
.Overons .text{  
  float: left;
  width: 45%;
}
.Overons img{
  width: 40%;
  float: right;
 }
.nieuws{
  background-color: #323232;
  margin: 5vh 0vh 5vh 0vh;
  border-radius: 1rem;
  text-align: center;
}
.nieuws h2, .nieuws p {
  color: white;
  padding: 10px 20px 10px 20px;
  text-align: center;
}
.header ul li img{
  width: 6rem;
}
.vollezele {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}
.vollezele img{
  box-shadow:none !important;
  border-radius: 0px;
  width: 70%;
}


/* mobile*/
@media screen and (max-width: 1079px){
  .logo {     
    min-height: 5rem;  
    margin-top: 1rem;
    margin-bottom: 0rem;
    width: 90%;
    margin-left: 5%;
  }
  .s3{
    width: 100%;
  }
  .s3 li:first-child{
    margin-left: 10%;
    float: left;
  }
  .s3 li:last-child{
    margin-right: 10%;
    float: right;
  }

  main{
    padding-top: 1rem;
  }
  .Overons .text{  
    width: 100%;
    text-align: center;
  }
  .Overons img{
    margin-top: 20px;
    width: 100%;
    margin-right:0vw;
  }
  
  .nieuws{
    text-align: center;
  }
  
.vollezele img{
  box-shadow:none !important;
  border-radius: 0px;
  width: 100%;
}
}
/* mobile*/

