.logo {     
  min-height: 5rem;  
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 18rem;
  box-shadow:none !important;
}
main{
  padding-top: 3rem;
}
.Overons .text{  
  float: left;
  width: 45%;
}
.Overons img{
  margin-left: 1vw;
  width: 25%;
  float: right;
 }
.nieuws{
  background-color: #323232;
  margin: 5vh 0vh 5vh 0vh;
  border-radius: 1rem;
}
.nieuws h2, .nieuws p {
  color: white;
  padding: 10px 20px 10px 20px;
}

.header{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;    
}


/* mobile*/
@media screen and (max-width: 1079px){
  .logo {     
    margin-top: -3rem;
    margin-bottom: -1rem;
    max-height: 14rem;
  }

  main{
    padding-top: 1rem;
  }
  .Overons .text{  
    width: 100%;
    text-align: center;
  }
  .Overons img{
    margin-top: 20px;
    padding-left: 0vw;
    width: 100%;
  }
  .nieuws{
    text-align: center;
  }
}
/* mobile*/

