ul{
    list-style: none;    
}
.contact{
    width: 50%;
    text-align: center;
    margin: auto;
}
.openingsuren {
    text-align: center;
}
.openingsuren ul{
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
    list-style: none;
}
.winkel {
    width: 50%;
    float: left;
}

/* mobile*/
  @media screen and (max-width: 1079px){
    .winkel {
        width: 100%;
        padding-bottom: 5vh;
    }
    .contact{
        width: 100%;
    }
 }
 /* mobile*/

